


.flex-item{
    margin: auto;
    padding: 10px;
}

div#immagine{
    width: 75%;
    margin: auto;
    
}


img.principale {
    width: 100%;
    height: auto;
}

.contenuto{
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 300px;
    height: 250px;
    min-width: 300px;
    min-height: 250px;
    margin: auto;

}

.divFiltro{
    margin: auto;
    margin-top: 0px;
    padding: 10px;
}



.bordiAzzurri{
    border-style: solid;
    border-color: cornflowerblue;
    border-width: thin;
}

.bordiRossi{
    border-style: solid;
    border-color: red;
    border-width: thin;
}

.striscia{
    display: -webkit-inline-flex;
    display: inline-flex; 
    width: 50%;
    margin: 10px;
    position: relative;
    left: 25%;
    min-width: 650px;
    
}


.imgHome{
    width: 100px;
    height: 200px;
    min-width: 100px;
    min-height: 200px;
    position: relative;
    top: 10%;
    left: 0px;
    margin-left: 10px;
}

span{
    display: -webkit-inline-flex;
    display: inline-flex;
}

.titolo1{
    min-width: 170px;
}

.titolo12{
    min-width: 100px;
    text-align: center; 
}

.scritte{
    margin-left: 20px;
    margin-top: 20px;
}

.titoli{
    min-width: 100%;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

.sottotitoli{
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.promozione{
    width: 80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;
    align-content: center;
    
}

.imgPromozione{
    display: -webkit- block;
    width: 50%;
    height: auto;
    display: block;
	margin: 0px auto;
	text-align: center;
    margin-top: 10px;
}

.categorieDispositivi{
    display: -webkit-inline-block;
    display: inline-block;
    padding: 10px;
    margin: auto;
    min-width: 250px;
    width: 20%;
    
}

.imgCategorieDispositivi{
    display: -webkit- block;
    width: auto;
    height: 130px;
    display: block;
	margin: 0px auto;
	text-align: center;
   
}

.imgCatDispositiviLato{
    height: 100px;
    width: 100px;    
}

.filtro{
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    
}

.menuLaterale{
    width: 250px;
    margin: auto;
    margin-left: 20px;
    margin-top: 0px;

}

.rigaMenuLaterale{
    margin-bottom: 30px;
}

.tabellaDispositivi{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    padding-top: 0px;
    padding-right: 0px;
}

.rigaDispositivo{
    width: 100%;
    margin-bottom: 100px;
    
}

.dispositivi{
    width: 250px;
    height: 250px;
    margin: auto;
}

.imgDispositivi{
    display: -webkit- block;
    width: auto;
    height: 130px;
    display: block;
	margin: 0px auto;
	text-align: center;
}

.imgDispositiviGrande{
    display: -webkit- block;
    width: auto;
    height: 400px;
    display: block;
	margin: 0px auto;
	text-align: center;
}

.indietroCategoria{
    width: 200px;
    margin: 50px;
}

.bloccoDispositivo{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-left: 50px;
}

.descrizioneDispositivo{
    margin-left: 50px;
    margin-top: 100px;
}

.centrato{
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
    
}
