body{
    margin:0;
    min-width: 1100px;
}

div.bordi{
    width: 100%;
    height:100px;
    
}

div#bordoSup {
    display: -webkit-inline-flex;
    display: inline-flex;
    background: linear-gradient(#2F5F8F, #54AAFF);
    margin-bottom: 20px;
}

div#bordoInf {
    display: -webkit-inline-flex;
    display: inline-flex;
    background: linear-gradient(#54AAFF, #2F5F8F);
    position:relative;
    bottom:0px;
    left:0px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.social{
    display: -webkit-inline-flex;
    display: block;
    width: 80px;
    margin: auto;
}

.imgSocial{
    width: 30px;
    height: 30px;
    margin: 5px;
    
}


.flex-item{
    margin: auto;
    padding: 10px;
}

.login{
    position: relative;
    top: 10px;
}

img#logo{
    margin-left: 0px;
    width: 280px;
    height: 75px;
    
}
#form{
    width: 210px;
}

#registrazione{
    color:orange;
    margin: 0px;
}

img#puntoDiDomanda{
    width: 15px;
    height: 15px;
    position:relative;
    top: 3px;
    padding-left: 5px;
    
}


div#immagine{
    width: 75%;
    margin: auto;
    
}


img.principale {
    width: 100%;
    height: auto;
}

.contenuto{
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 300px;
    height: 250px;
    min-width: 300px;
    min-height: 250px;
    margin: auto;

}

.azzurro{
    background: lightblue;
}

.rossoChiaro{
    background: pink;
}

.bordiAzzurri{
    border-style: solid;
    border-color: cornflowerblue;
    border-width: thin;
}

.bordiRossi{
    border-style: solid;
    border-color: red;
    border-width: thin;
}

.striscia{
    display: -webkit-inline-flex;
    display: inline-flex; 
    width: 50%;
    margin: 10px;
    position: relative;
    left: 25%;
    min-width: 650px;
    
}


.imgHome{
    width: 100px;
    height: 200px;
    min-width: 100px;
    min-height: 200px;
    position: relative;
    top: 10%;
    left: 0px;
    margin-left: 10px;
}

span{
    display: -webkit-inline-flex;
    display: inline-flex;
}

.titolo1{
    min-width: 170px;
}

.titolo12{
    min-width: 100px;
    text-align: center; 
}

.scritte{
    margin-left: 20px;
    margin-top: 20px;
}

.titoli{
    min-width: 100%;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

.sottotitoli{
    width: 150px;
    color: cornflowerblue;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.promozione{
    width: 80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;
    align-content: center;
    
}

.imgPromozione{
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
    margin-top: 10px;
}

.categorieDispositivi{
    display: -webkit-inline-block;
    display: inline-block;
    padding: 10px;
    margin: auto;
    min-width: 250px;
    width: 20%
    
}

.imgCategorieDispositivi{
    width: 100px;
    height: 130px;
    min-width: 100px;
    min-height: 130px;
    position: relative;
    left: 30%;
}

.centrato{
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
    
}
.rosso {
    color:red;
}


.landmarks {
    min-width: 145px;
}

.blu{
    color: blue;
}

.centro{
    text-align: center;
    
}

.titoloPagina{
    font-size: 40px;
    margin: 0px;
}

.sfondoGrigio{
    background-color: lightgrey;
}

.bianco{
     color: white;
}

a{
    text-decoration: none;
}