body{
    margin:0;
    min-width: 1100px;
}
form{
    margin: 0;
}
.flex-item{
    margin: auto;
    padding: 10px;
}
div.bordi{
    width: 100%;
    height:100px;
    
}
.spanBarre{
    display: -webkit-inline-flex;
    display: inline-flex;
}

div#bordoSup {
    display: -webkit-inline-flex;
    display: inline-flex;
    background: linear-gradient(#2F5F8F, #54AAFF);
    margin-bottom: 20px;
}

div#bordoInf {
    display: -webkit-inline-flex;
    display: inline-flex;
    background: linear-gradient(#54AAFF, #2F5F8F);
    position:relative;
    bottom:0px;
    left:0px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.social{
    display: -webkit-inline-flex;
    display: block;
    width: 80px;
    margin: auto;
}

.imgSocial{
    width: 30px;
    height: 30px;
    margin: 5px;
    
}
.login{
    position: relative;
    top: 10px;
}

.welcome{
    position: relative;
    background: linear-gradient(#2F5F8F, #54AAFF);
    width: 20%;
}

.autenticazione{
        font-size: 20px;
        margin-top: 40px;
        color: orange;
        font-weight: bold;
}
img#logo{
    margin-left: 0px;
    width: 280px;
    height: 75px;
    
}
#form{
    width: 210px;
}

#registrazione{
    color:orange;
    margin: 0px;
}

img#puntoDiDomanda{
    width: 15px;
    height: 15px;
    position:relative;
    top: 3px;
    padding-left: 5px;
    
}
.azzurro{
    background: lightblue;
}

.rossoChiaro{
    background: pink;
}
.rosso {
    color:red;
}


.landmarks {
    min-width: 145px;
}

.blu{
    color: blue;
}

.centro{
    text-align: center;
    
}


.submit{
    width: 60px;
    height: 30px;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}


.titoloPagina{
    font-size: 40px;
    margin: 0px;
}

.sfondoGrigio{
    background-color: lightgrey;
}

.sfondoGrigioChiaro{
    background-color: whitesmoke;
}


.bianco{
     color: white;
}

.scrittaAzzurra{
    color: cornflowerblue;
}

.nero{
    color: black;
}

a{
    text-decoration: none;
}

.linkDiv{
    display: block;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {

    div#bordoInf{
        position: absolute;
        width: 100%;
        min-width: 1100px;
    }

    body{
        padding-bottom: 100px;
    }

}

